.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 20px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .catalog {
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  img {
    height: 200px;
    width: 200px;
  }